* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #4d4d4d;
}

.site-wrapper {
    min-height: 100vh;
    line-height: 100vh;
}

.lhn {
    line-height: normal;
}

.webterminal-title {
    letter-spacing: 1px;
    color: #4d4d4d;
    font-weight: 600;
    font-family: open sans;
}

.blue-link {
    text-decoration: underline;
    color: #1584d4;
}

.blue-link:hover {
    text-decoration: none;
}

.dib {
    display: inline-block;
    vertical-align: middle;
}

.logo-title {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb5 {
    margin-bottom: 5px;
}

.button {
    border-radius: 7px;
    text-decoration: none;
    border: 1px solid #c8c8c8;
    background: #fff;
    line-height: 38px;
    padding: 0 25px;
    display: inline-block;
    color: #0085fc;
    font-weight: 400;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 15px;
    margin-right: 15px;
}

.button:hover {
    background: #0085fc;
    border-color: #0085fc;
    color: #fff;
}

.logo {
    width: 322px;
    max-width: 90%;
}